.body_index {
    background-image: url("../recursos/imagenes/index_fondo.jpg");
    background-color: #43bbf5;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.body_loguin {
    background-image: url("../recursos/imagenes/inicio_fondo.jpg");
    background-color: #363535;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.body_registro {
    background-image: url("../recursos/imagenes/registro_fondo.jpg");
    background-color: #363535;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.body_exito {
    background-image: url("../recursos/imagenes/exito_fondo.jpg");
    background-color: #363535;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.body_bitacoras {
    background-image: url("../recursos/imagenes/reinhart-julian-79-UsUCtTYA-unsplash.jpg");
    background-color: #363535;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: aliceblue;
}

.bitacoras_container {
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 0px solid #000000;
    background-color: rgba(15, 15, 15, 0.712);
    height: 600px;
    padding: 3%;
}

p {
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}